body{
    background-color: lightgray;
}
form{
    background-color: aqua;
    border: solid black;
}
*{
    font-family:sans-serif;
}
button:hover{
    background-color: black;
    color: aqua;
}
.name{
    background-color: black;
}
.wrapper{
    margin-left: auto;
    margin-right: auto;
}